*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #003973, #E5E5BE);
    background-image: url("/images/White\ Border\ Pattern\ PPT\ Backgrounds.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: middle;
    
}

@media screen and (max-width: 700px) {
    body {
        background: linear-gradient(to bottom, #003973, #E5E5BE);
    }
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    color:white;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(0, 0, 0, .2);
}

.calculator-grid>button:hover {
    background-color: rgba(0, 57, 115, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: white;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}